.frame-izquierdo{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;

}

.frame-derecho{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

.frame-superior{
    position: absolute;
    width: 110%;
    height: 30vh;
    top: 0;
}

.ends{
    width: 80px;
    transition: all 1s;
    margin-top: 5%;
}

body {
    display: grid;
    place-items: center;
    margin: 100px;
    padding: 0;
    background-color: #816551;
    overflow: hidden;
}

.good{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botón{
    align-items: center;
    margin: 15px;
    padding: 5px;
}